

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"BarlowCondensed";
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Inter') ,local('Inter Regular'), url('../../src/assets/fuentes/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
  font-family: 'BarlowCondensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('BarlowCondensed') ,local('BarlowCondensed Regular'), url('../../src/assets/fuentes/BarlowCondensed-Regular.ttf');
}





.loader{

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:1.5rem;

}


$puntosQuiebre:(
    celular:640px,
    tablet:1080px,
    laptop:1200px,
    escritorio:1440px
);

@mixin rwd($resolucion){
    @if map-has-key($puntosQuiebre,$resolucion){
        @media screen and (max-width: map-get($puntosQuiebre,$resolucion)) {
            @content ;
        }
        
    }@else{
        
        @media screen and (max-width:$resolucion) {
            @content ;
        }
    }
}




@import "componentes/estilosBannerMenu";
@import "componentes/estilosPresentacion";
@import "componentes/estilosContacto.scss";
@import "componentes/estilosEstudios.scss";
@import "componentes/estilosProyectos.scss";
