.contenedor{

    .colum1{
        min-height: 80vh;
        margin-top: 3em;
        margin-bottom: 3em;
        background: rgba(229, 228, 228, 1);
        .proyectos{
            width: 100%;
            height: 100%;
           
            position: relative;
            padding-top: 6em;
            // padding-bottom: 5em;
            display:flex;
            justify-content: center;
            align-items: center;
            .tituloDescripccion1{
                position:absolute;
                top: 0;
                left:0;
                width: 50%;
            }
            .contener{
                width: 60%;
                height:100%;
                display:grid;
                grid-template-columns: repeat(3,1fr);
                gap: 0em;
                align-items: center;
                justify-content: center;



                @include rwd(tablet){
                    width: 100%;
                    height:100%;
                    grid-template-columns: repeat(2,1fr);

                }
                
                @include rwd(celular){

                   
                
                }

                .cartContact{
                    width:15em;
                    height: 20em;
                    background: #CCCCCC;
                    color: rgb(19, 19, 19);
                    font-family: 'Inter';
                    font-weight: bold;
                    text-align: center;
                    padding: 1em;
                    display:flex;
                    justify-content:center;
                    // align-items:center;
                    margin: 1em;
                    filter: drop-shadow(0px 100px 80px rgba(46, 46, 46, 0.14)) drop-shadow(0px 64.8148px 46.8519px rgba(47, 47, 47, 0.106)) drop-shadow(0px 38.5185px 25.4815px rgba(58, 57, 57, 0.085)) drop-shadow(0px 20px 13px rgba(55, 55, 55, 0.07)) drop-shadow(0px 8.14815px 6.51852px rgba(47, 47, 47, 0.055)) drop-shadow(0px 1.85185px 3.14815px rgba(57, 57, 57, 0.034));
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2,1fr);
                    
                    @include rwd(tablet){
                        padding: .5em;
                        margin: 0em;


                    }
                    
                    @include rwd(celular){

                    
                    
                    }
                    .sanluis{
                        background-image: url(../../assets/sanluis.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                    .catalina{
                        background-image: url(../../assets/catalina.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        margin: 1em;
                    }
                    .sistematic{
                        background-image: url(../../assets/sistematic.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }
    }
}