
/* estilos de menu */



.contenedor-banner{

    height: 60vh;
    // width: 300%;
    background-image: url(../../../src/assets/fondo1.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom;
    display:flex;
    justify-content:center;
    align-items:center;
    // flex-direction:column;
    position: relative;
    // overflow-x: hidden;
    // .mySlides-banner-Principal {
    //     display: none
    // }
   

    @include rwd(tablet){
        height: 50vh;

    }
    
    @include rwd(celular){
     
       
    
    }

    .fondo-banner01{
        height:95vh;
        width: 100vw;
        // background: red;
        background-size: cover;
        background-position: center center;
       
        @include rwd(tablet){
            height: 30vh;
    
        }
        
        @include rwd(celular){
         
           
        
        }
      }
      
      .fondo-banner02{
        height:95vh;
        width: 100vw;
        background-color: aqua;
        background-size: cover;
        background-position: center center;
      }
      
      .fondo-banner03{
        height:95vh;
        width: 100vw;
        background-color: yellow;
        background-size: cover;
        background-position: center center;
      }
      .fades {
        -webkit-animation-name: fades;
        -webkit-animation-duration: 1.5s;
        animation-name: fades;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fades {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fades {
        from {opacity: .4} 
        to {opacity: 1}
      }
      

    .conte{
        z-index: 10000;
        position: absolute;
        left:0;
        .prueba{
            align-self:start;
            height:4rem;
            width: 4rem;
            border-radius: .5em;
            margin-bottom: .5em;
            background-color: rgba(67, 67, 67, 1);
            display:flex;
            justify-content: right;
            align-items: center;
            padding: .8em;
            color: white;
            position: relative;
            z-index: 100;
            font-family: 'Inter';
            font-size: .9rem;
    
            .fijo{
                pointer-events: none;
                position:absolute;
                left: 0;
                width: 4rem;
                height: 4rem;
                background: rgba(67, 67, 67, 1);
                color: white;
                display:flex;
                justify-content:center;
                align-items:center;
                svg{
                    pointer-events: none;
    
                    width: 70%;
                    height:70%;
                    pointer-events: initial;
                    } 
                &:hover{
                    pointer-events: none;
                    background: rgba(206, 206, 206, 1);
                    color: black;
                       }
                }
          
            
        }
       
        .alvaro{
            width:12rem ;
            &:nth-of-type(3){
                width: 16rem;
            }
        }
        .alvaro2{
            width: 4rem;
            &:nth-of-type(3){
                width: 4rem;
            }
        }
    
    }  
    .nextt {
        position:absolute;
        right: 0;
        bottom: 20%;
        margin-right: 1rem;
      
        color: #f2f2f2;
      }
    .TITULO{
        display:inline-block;
        height:40vh;
        width: 55vw;
        position:absolute;
        top: 10%;
        font-family: 'BarlowCondensed';
        font-size:3em;
        display: flex;
        justify-content: center;
        align-items: center;
        //

        @include rwd(tablet){
            font-size:2em;

        }
        
        @include rwd(celular){
         
           
        
        }

        .LETRA-TITULO1{
            position:relative;
            left:0;
        }
        .LETRA-TITULO2{
            position:relative;
            left:20%;
        }
        .LETRA-TITULO3{
            position:relative;
            left:40%;
            font-size:1.5rem;
            
        @include rwd(tablet){
            left:30%;

            font-size:.5em;

        }
        
        @include rwd(celular){
         
           
        
        }

        }
        &::before{
            content:"";
            height:100%;
            width: 100%;
            background: rgba(242, 242, 242, 0.64);
            filter: blur(1px);
            backdrop-filter: blur(4px);
            display:block;
            position: absolute;

        }
        

        .CONTENEDOR_TITULO{
            position:absolute;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            min-height:30vh;
            //
            @include rwd(tablet){

            }
            
            @include rwd(celular){
             
               
            
            }
            

        }

    }
    .menu{
        background: rgba(75, 75, 75, 0.53);
        backdrop-filter: blur(4px);
        position:absolute;
        bottom: 0;
        width: 100vw;
        height:3.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;

        .item-menu{
                height:100%;
                width: 10em;
                .item-link{
                    color:white;
                    font-family: 'Inter';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    background: #838383;
                    text-decoration: none;
                    text-transform: uppercase;

                 
                    &:hover {
                        background: #CECECE;
                        color: rgb(28, 28, 28);
                      }
                }
                &:nth-of-type(1){
                    &::after{
                        content:'';
                        width: .15em;
                        height: 100%;
                        background: white;
                        display: block;
                        position: relative;
                        top:-100%;
                        right: -100%;
                    }
                }
                &:nth-of-type(2){
                    &::after{
                        content:'';
                        width: .15em;
                        height: 100%;
                        background: white;
                        display: block;
                        position: relative;
                        top:-100%;
                        right: -100%;
                    }
                }
                &:nth-of-type(3){
                    &::after{
                        content:'';
                        width: .15em;
                        height: 100%;
                        background: white;
                        display: block;
                        position: relative;
                        top:-100%;
                        right: -100%;
                    }
                }
               
               
        }
       
      

    }
    


}






