
.contenedor{
    min-height:75vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;

    .cart{
      

        width: 75vw;
        height: 65vh;
        display:flex;
        background: #D3D3D3;

        justify-content:center;
        align-items:center;
        flex-direction: row;
        @include rwd(tablet){
            width: 95vw;
            height: 65vh;
        }
        
        @include rwd(celular){
         
           
        
        }
        box-shadow: 79.1434px 94.1559px 290px rgba(0, 0, 0, 0.13), 54.8235px 65.2228px 184.146px rgba(0, 0, 0, 0.102332), 35.7645px 42.5486px 110.758px rgba(0, 0, 0, 0.0837609), 21.4126px 25.4742px 63.242px rgba(0, 0, 0, 0.0706472), 11.2139px 13.341px 35.0029px rgba(0, 0, 0, 0.0593528), 4.61477px 5.49014px 19.4461px rgba(0, 0, 0, 0.0462391), 1.0614px 1.26273px 9.97668px rgba(0, 0, 0, 0.0276676);
        .foto{
            background: #D3D3D3;           
            height:100%;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .fotoImagen{
                width: 22rem;
                height: 22rem;
                background-image:url(../../alvaro.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
            
        }
        .descripccion{
            background: #D3D3D3;
            height:100%;
            width:60%;
            position: relative;
          
            .tituloDescripccion{
              

                position:absolute;
                right: 0;
                width: 90% ;
                height:4em;
                background: linear-gradient(92.09deg, #535353 1.47%, #A09F9F 53.94%, #6D6D6D 99.78%);
                font-family: 'Inter';
                display:flex;
                align-items:center;
                justify-content:center;
                color: white;
                font-size: 1.5rem;
                @include rwd(tablet){
                    font-size: 1rem;

                }
                
                @include rwd(celular){
                 
                   
                
                }
                
            }
            .tituloTexto{
              

                position: absolute;
                font-family: 'Inter';

                top:18%;
                font-size: 1.5em;
                padding: 4em;
                text-align: justify;
                @include rwd(tablet){
                    top:5%;

                    font-size: 1rem;

                }
                
                @include rwd(celular){
                 
                   
                
                }
            }

        }

    }   

}

