.contenedor{
    .colum1{
        min-height: 80vh;
        margin-top: 3em;
        margin-bottom: 3em;
        .proyectos{
            width: 100%;
            height: 100%;
           
            position: relative;
            padding-top: 6rem;
            // padding-bottom: 5em;
            display:flex;
            justify-content: center;
            align-items: center;
            

            .tituloDescripccion1{
                position:absolute;
                top: 0;
                left:0;
                width: 50%;
                

            }
            .contener{
                width: 60%;
                height:100%;
                display:grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                justify-content: center;
                

                @include rwd(tablet){
                    width: 100%;
                    height:100%;
                    grid-template-columns: repeat(1,1fr);

                }
                
                @include rwd(celular){

                   
                
                }

                
                .cartContacto{
                    width:11rem;
                    background: rgba(67, 67, 67, 1);
                    

                    color: white;
                    height: 10rem;
                    display:flex;
                    flex-direction:column;
                    font-family: 'Inter';
                    justify-content:center;
                    align-items:center;
                    margin: 1rem;
                    text-decoration: none;
                    @include rwd(tablet){
                        height: 8rem;
                        width:7rem;

    
                    }
                    
                    @include rwd(celular){    
                       
                    
                    }
                    &:nth-child(4){
                        font-size: .7rem;
                    }
                    svg{
                        width: 50%;
                        height:50%;
                        margin-bottom: .5em;
                    }
                    &:hover{
                         background: rgba(143, 140, 140, 1);
                    }
                   
    
                }
            }
        }
    }
}